<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.sys.dao.SysUserDepartmentDao">

    <!-- <delete id="deleteObject">
       delete from sys_user_roles
       <if test="userId!=null">
        where user_id=#{userId}
       </if>
       <if test="roleId!=null">
        where role_id=#{roleId}
       </if>
    </delete>
    
    <select id="findRoleIdsByUserId"
            resultType="int">
        select role_id
        from sys_user_roles
        where user_id=#{userId}
    </select>
    
    <insert id="insertObject">
       insert into sys_user_roles
       (user_id,role_id)
       values
       <foreach collection="roleIds" separator="," item="item">
          (#{userId},#{item})
       </foreach>
    </insert> -->
    
    <insert id="insertObject" parameterType="int">
    	insert into sys_user_departments values(null,#{user_id},#{department_id})
    </insert>
    <select id="findDepartmentIdByUserId" resultType="int">
    	select IFNULL(MAX(department_id),0) AS department_id from sys_user_departments where user_id=#{user_id}
    </select>
    <delete id="deleteObjectById" >
    	delete from sys_user_departments where user_id=#{id}
    </delete>
    <select id="findDepartmentNameByUserId" resultType="string">
    	select name from sys_departments where id = (select IFNULL(MAX(department_id),0) AS department_id from sys_user_departments where user_id=#{user_id});
    </select>
</mapper>



